.comment
  %img.avatar{src: "avatar6.jpg"}
  .message
    %ul.icons
      %li.icon
        icon1
      %li.icon
        icon2
    %p.body
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan tortor sed velit gravida pellentesque. Donec placerat pretium posuere. Vestibulum nec tortor risus.
    %p.updated
      updated at
    %p.report
      report
