.header
  %p
    Header/Top Bar

.table_of_contents
  %p
    Table of Contents
  %ul.toc
    - (1..4).each do |i|
      %li.toc_entry
        %a.toc_link
          link #{i}

.main
  %p
    Main Body

.footer
  %p
    Footer
