.comment {
    width:500px;
    margin: auto;
    height: 125px;
    vertical-align: top;
}

.avatar {
    background: purple;
    height: 100%;
    width: 25%;
    float: left;
}

.message {
    float: right;
    background: green;
    width: 70%;
    height: 100%;
}

.icons {
    text-align: right;
    background: blue;
    display: block;

    .icon {
        display: inline-block;
    }
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.updated {
    font-size: 80%;
    line-height: 18pt;
    margin: 0;
    padding: 0;
    background: yellow;
    text-align: left;
    display: inline;
}

.report {
    font-size: 80%;
    margin: 0;
    padding: 0;
    background: red;
    text-align: right;
    display: inline;
    float: right;
}
